@use '../foundation/_variable' as *;

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	line-height: 1.5;
	height: 100%;
	scroll-behavior: smooth;
}
body {
	color: $color-font;
	font-size: 1.6rem;
	font-family: 'Noto Sans JP', sans-serif, "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
		"Hiragino Sans", Meiryo, sans-serif;
	min-width: 350px;
	margin: 0 auto;
	width: 100%;
	overflow-x: hidden;
}
main {
	padding-top: 9.4rem;
}
img,
video,
object {
	max-width: 100%;
	height: auto;
	border: none;
	display: block;
}
a {
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}
a:hover img {
	text-decoration: none;
	opacity: 0.8;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
li {
	list-style: none;
}