// colors
$color-base: #fff;
$color-main: #EEFBFB;
$color-linearRight: #05A5FA;
$color-linearMiddle: #67FFD6;
$color-linearrLeft: #63FBD7;
$color-btnPurple: #6020B0	;
$color-btnPink: #FA41CC;
$color-font: #333333;
$color-font-100: #444444;

$color-navy: #0C449B;
$color-blue: #3BA6C9;
$color-lightgray-100: #E5E5E5;
$color-gary: #DDDDDD;
$color-darkgray: #F2F2F2;
$color-boxshadow: #00000029;
$color-checkbox: #707070;
$color-lightgray: #F8F8F8;


// responsive
@mixin breakpoint($point) {
	@if $point == small {
		@media (max-width: 576px) {
			@content;
		}
	}
	@if $point == medium {
		@media (max-width: 768px) {
			@content;
		}
	}
	@if $point == large {
		@media (max-width: 992px) {
			@content;
		}
	}
	@if $point == x-large {
		@media (max-width: 1200px) {
			@content;
		}
	}
	@if $point == xx-large {
		@media (max-width: 1400px) {
			@content;
		}
	}
}
@include breakpoint(small) {
}
@include breakpoint(medium) {
}
@include breakpoint(large) {
}
@include breakpoint(x-large) {
}
@include breakpoint(xx-large) {
}
