@use '../../foundation/_variable' as *;

.c-btn {
    display: block;
    min-width: 15.5rem;
    height: 3.7rem;
    font-size: 1.4rem;
    line-height: 1.43;
    font-weight: bold;
    color: $color-base;
    background: linear-gradient(to right, $color-btnPink, $color-btnPurple);
    padding: 0.7rem 3.5rem 1rem;
    border-radius: 10px;
    box-shadow: 0px 3px 6px $color-boxshadow;
    text-align: center;
}
