@use '../foundation/_variable' as *;

.l-header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: $color-base;
    height: 9.4rem;
    box-shadow: 0px 3px 6px $color-boxshadow;
    padding: 0 2rem;
    &__content {
        display: flex;
        padding: 0 calc(2rem + 3.7rem);
        align-items: center;
        height: 9.4rem;
        font-weight: bold;
    }
    &__logo {
        display: flex;
        align-items: center;
        margin-right: min(10vw, 13.7rem);
        font-size: 2.4rem;
        line-height: 1.46;
        min-width: 25.3rem;
        img {
            margin-right: 1.6rem;
        }
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        width: 25.2rem;
    }
    .c-btn {
        margin-left: auto;
    }
    &__spOpen {
        display: none;
    }
}