@use '../../foundation/_variable' as *;

.p-blog {
    background-color: $color-main;
    padding-bottom: 9.1rem;
    & .c-inner {
        max-width: 1227px;
    }
    .c-sectionTitle {
        margin-bottom: 5.4rem;
    }
    &__cardUnit {
        display: flex;
        gap: 3rem;
        justify-content: center;
        @include breakpoint(large) {
            gap: 2rem;
        }
        @include breakpoint(medium) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__card {
        max-width: 38.9rem;
        min-width: 20rem;
        width: 38.9rem;
        height: 38.7rem;
        background-color: $color-base;
        box-shadow: 0px 3px 6px $color-boxshadow;
        font-weight: bold;
        position: relative;
        @include breakpoint(small) {
            width: 100%;
            max-width: 38.9rem;
            margin: 0 auto 3rem;
            min-width: 25rem;
        }
    }
    &__cardText {
        padding: 1.4rem 3.1rem 0 1.8rem;
        font-size: 1.8rem;
        line-height: 1.44;
        @include breakpoint(large) {
            padding: 1.4rem 1.8rem 0;
        }
    }
    &__cardDate {
        display: inline-block;
        position: absolute;
        font-size: 1.6rem;
        line-height: 1.5;
        right: 3.2rem;
        bottom: 1rem;
        color: $color-font-100;
    }
}
