@use '../../foundation/_variable' as *;

.p-features {
    padding: 7.1rem 2rem 15.4rem;
    .c-sectionTitle {
        margin-bottom: 5.7rem;
    }
    &__heading {
        text-align: center;
        font-size: 2.8rem;
        line-height: 1.43;
        font-weight: bold;
        margin-bottom: 4.9rem;
    }
    &__flex {
        display: flex;
        // justify-content: space-between;
        margin-bottom: 8.6rem;
        gap: min(10vw, 15.7rem);
        @include breakpoint(large) {
            gap: 5vw;  
        }
        max-width: 109.6rem;
        width: 100%;
    }
    &__img img{
        width: 100%;
        max-width: 38rem;
        @include breakpoint(large) {
            min-width: 30rem;
        }
    }
    &__text {
        margin-top: 4.7rem;
        width: 50.2rem;
        margin-bottom: 3.7rem;
        font-weight: bold;
        @include breakpoint(large) {    
            & p br {
                display: none;
        }
        }
        & p:first-child {
            font-size: 2.4rem;
            margin-bottom: 4.5rem;
            line-height: 1.72;
        }
        & p:last-child {
            line-height: 1.625;
        }
    }
    // &__speed {
    //     .p-features__heading {
    //         margin-bottom: 4.9rem;
    //     }
    //     .p-features__flex {
            // margin-bottom: 8.6rem;
            // gap: min(13vw, 15.7rem);
    //     }
    //     .p-features__img {
            // max-width: 38rem;
    //     }
    //     .p-features__text {
    //         margin-top: 4.7rem;
    //         min-width: 50.2rem;
    //         margin-bottom: 3.7rem;
    //         & p:first-child {
    //             margin-bottom: 4.5rem;
    //             line-height: 1.72;
    //         }
    //     }
    // }
    // &__quality {
    //     .p-features__heading {
    //         margin-bottom: 6.1rem;
    //     }
    //     .p-features__flex {
    //         gap: min(7vw, 8.4rem);
    //         margin-bottom: 13.6rem;
    //     }
    //     .p-features__img {
    //         max-width: 47.9rem;
    //     }
    //     .p-features__text {
    //         min-width: 44.7rem;
    //         margin-bottom: 8rem;
    //         padding-left: 2.9rem;
    //         & p:first-child {
    //             margin-bottom: 4rem;
    //             line-height: 1.82;
    //         }
    //     }
    // }
    // &__response {
    //     .p-features__heading {
    //         margin-bottom: 6.2rem;
    //     }
    //     .p-features__flex {
    //         gap: min(14vw, 17.3rem);
    //     }
    //     .p-features__img {
    //         max-width: 40rem;
    //         margin-left: 2.9rem;
    //     }
    //     .p-features__text {
    //         min-width: 35rem;
    //         margin: 2rem 8.7rem 8rem 0;
    //         & p:first-child {
    //             margin-bottom: 4rem;
    //             line-height: 1.82;
    //         }
    //     }
    // }
}