@use '../../foundation/_variable' as *;

.p-features {
    padding: 7.1rem 2rem 15.4rem;
    @include breakpoint(large) {
        padding-bottom: 10rem;
    }
    .c-sectionTitle {
        margin-bottom: 5.7rem;
    }
    &__heading {
        text-align: center;
        font-size: 2.8rem;
        line-height: 1.43;
        font-weight: bold;
        margin-bottom: 4.9rem;
    }
    &__flex {
        display: flex;
        margin-bottom: 8.6rem;
        gap: min(10vw, 15.7rem);
        max-width: 109.6rem;
        width: 100%;
        &:last-child {
            margin-bottom: 0;
        }
        @include breakpoint(large) {
            gap: 5vw;  
        }
        @include breakpoint(medium) {
            flex-direction: column;
            align-items: center;
            &.u-flex__rowReverse {
                flex-direction: column;
                align-items: center;
            }
        }
    }
    &__img img{
        width: 100%;
        @include breakpoint(medium) {
            margin: 0 auto;
        }
    }
    &__text {
        margin: 4.7rem 0 3.7rem ;
        width: 50.2rem;
        margin-bottom: 3.7rem;
        font-weight: bold;
        @include breakpoint(large) {    
            & p br {
                display: none;
            }
        }
        @include breakpoint(medium) {
            margin: 3rem auto 8rem;
        }
        @include breakpoint(small) {
            width: 100%;
        }
        & p:first-child {
            font-size: 2.4rem;
            margin-bottom: 4.5rem;
            line-height: 1.72;
            @include breakpoint(medium) {
                margin-bottom: 3rem;
            }
        }
        & p:last-child {
            line-height: 1.625;
            @include breakpoint(small) {
                width: 90%;
                margin: 0 auto;
            }
        }
    }
    &__speed {
        .p-features__heading {
            margin-bottom: 4.9rem;
        }
        .p-features__flex {
            margin-bottom: 8.6rem;
            gap: min(13vw, 15.7rem);
        }
        .p-features__img {
            max-width: 38rem;
            margin-left: 5.7rem;
        }
        .p-features__text {
            margin-top: 4.7rem;
            min-width: 50.2rem;
            margin-bottom: 3.7rem;
            & p:first-child {
                margin-bottom: 4.5rem;
                line-height: 1.72;
            }
        }
    }
    &__quality {
        .p-features__heading {
            margin-bottom: 5.9rem;
        }
        .p-features__flex {
            gap: min(7vw, 8.4rem);
            margin-bottom: 13.6rem;
        }
        .p-features__img {
            max-width: 47.9rem;
        }
        .p-features__text {
            max-width: 44.7rem;
            margin: .2rem 0 8rem;
            & p:first-child {
                margin-bottom: 4rem;
                line-height: 1.82;
            }
        }
    }
    &__response {
        .p-features__heading {
            margin-bottom: 6.2rem;
        }
        .p-features__flex {
            gap: min(14vw, 17.3rem);
        }
        .p-features__img {
            max-width: 40rem;
            margin-left: 2.9rem;
        }
        .p-features__text {
            max-width: 35rem;
            margin: 2rem 8.7rem 0 0;
            & p:first-child {
                margin-bottom: 3.3rem;
                line-height: 1.82;
            }
        }
    }
    &__speed,
    &__quality,
    &__response {
        @include breakpoint(x-large) {
            .p-features__img {
                min-width: 38rem;
                margin-left: 0;
            }
            .p-features__flex {
                justify-content: space-around;
                gap: 3rem;
                margin-bottom: 10rem;
            }
            .p-features__text {
                margin: 0;
                max-width: fit-content;
            }
        }
        @include breakpoint(large) {
            .p-features__img {
                max-width: 30rem;
                min-width: auto;
            }
            .p-features__text {
                min-width: 30rem;
            }
        }
        @include breakpoint(large) {
            .p-features__img {
                max-width: 36rem;
                min-width: 30rem;
            }
            .p-features__text {
                min-width: 30rem;
            }
        }
    }
}