@use '../../foundation/_variable' as *;

.p-fv {
    width: 100%;
    padding: 13.1rem 2rem 11.3rem;
    background: url("../../../../public/img/top_bg.svg") right -50px top -100px / 50% no-repeat;
    @include breakpoint(small) {
        padding: 8rem 2rem;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3.7rem;
        @include breakpoint(medium) {
            display: block;
            text-align: center;
        }
    }
    &__content {
        font-weight: bold;
        padding-left: 2rem;
        min-width: 37.2rem;
        @include breakpoint(large) {
            min-width: 35.2rem;
            padding: 0;
        }
        @include breakpoint(small) {
            min-width: 30rem;
        }
    }
    &__title {
        font-size: 3.2rem;
        line-height: 1.44;
        font-weight: bold;
        margin: 2.8rem 0 4.4rem;
        @include breakpoint(small) {
            font-size: 2.8rem;
        }
    }
    &__text {
        margin-bottom: 4.5rem;
    }
    & .c-btn {
        @include breakpoint(medium) {
            margin: 0 auto 4rem ;
        }
    }
    &__img {
        @include breakpoint(large) {
            min-width: 40rem;
        } 
        @include breakpoint(small) {
            max-width: 70%;
            min-width: 25rem;
            margin: 0 auto;
        }               
    }
    &__img img {
        @include breakpoint(large) {
            margin: 0 auto;
        }
    }
    @include breakpoint(large) {
        &__wrapper {
            padding: 0;
        }
    }
}