@use '../../foundation/_variable' as *;

.p-works {
    &.l-section {
        padding: 5.5rem 2rem 9rem;
    }
    & .c-inner {
        max-width: 108rem;
        @include breakpoint(large) {
            max-width: 32rem;
        }
    }
    & .c-sectionTitle {
        margin-bottom: 6.8rem;
    }
    &__cardUnit {
        display: flex;
        justify-content: space-between;
    }
    &__card {
        border: 1px solid $color-gary;
        border-radius: 8px;
        font-weight: bold;
    }
    &__cardText {
        padding: 1.8rem;
    }
    &__cardHeading {
        margin-bottom: 3rem;
        line-height: 1.5;
    }
    &__cardDetail {
        font-size: 1.4rem;
        line-height: 1.43;
        margin-bottom: 4rem;
    }
}