@charset "utf-8";
/*--------------------------------------*
* foundation
*--------------------------------------*/
@use "./foundation/base";
@use "./foundation/variable";
/*--------------------------------------*
* layout
*--------------------------------------*/
@use "./layout/header";
@use "./layout/footer";
@use "./layout/section";
/*--------------------------------------*
* object
*--------------------------------------*/
/*-------------------
* component
-------------------*/
@use "./object/component/inner";
@use "./object/component/btn";

@use "./object/component/info";
@use "./object/component/sectionTitle";
@use "./object/component/access";
/*-------------------
* project
-------------------*/
@use "./object/project/fv";
@use "./object/project/features";
@use "./object/project/price";
@use "./object/project/faq";
@use "./object/project/blog";
@use "./object/project/works";
@use "./object/project/contact";
/*-------------------
* Utility
-------------------*/
@use "./object/utility/flex";
